name: Automatisation des tests DevSecOps
on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Scan requirements.txt avec Trivy
        run: |
          echo "Scan des dépendances avec Trivy..."
          docker run --rm -v "$PWD":/app -w /app aquasec/trivy:latest fs \
          --scanners vuln \
          --pkg-types library \
          --file-patterns 'pip:requirements\.txt' \
          --severity HIGH,CRITICAL \
          --exit-code 0 \
          --format table \
          --output rapport-dependances.txt \
          /app

      - name: Upload Rapport Dépendances
        uses: actions/upload-artifact@v4
        with:
          name: rapport-trivy-dependances
          path: rapport-dependances.txt

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Analyse du Dockerfile avec Trivy
        run: |
          echo "Analyse du Dockerfile (config scan)..."
          docker run --rm -v "$PWD":/app -w /app aquasec/trivy:latest config \
           --severity HIGH,CRITICAL \
           --exit-code 0 \
           --format table \
           --output rapport-dockerfile.txt \
           /app

      - name: Upload Rapport Dockerfile
        uses: actions/upload-artifact@v4
        with:
          name: rapport-trivy-dockerfile
          path: rapport-dockerfile.txt

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"
