name: Automatisation des tests DevSecOps
on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Scan requirements.txt avec Trivy
        run: |
          docker run --rm -v "$PWD":/app -w /app aquasec/trivy:latest fs \
          --scanners vuln \
          --pkg-types library \
          --severity HIGH,CRITICAL \
          --format table \
          --output report-deps.txt \
          /app

      - name: Sauvegarder le rapport des dépendances
        uses: actions/upload-artifact@v4
        with:
          name: rapport-vulnerabilites-deps
          path: report-deps.txt

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Analyse du Dockerfile avec Trivy
        run: |
          docker run --rm -v "$PWD":/app -w /app aquasec/trivy:latest config \
          --severity HIGH,CRITICAL \
          --format table \
          --output report-docker.txt \
          /app

      - name: Sauvegarder le rapport Dockerfile
        uses: actions/upload-artifact@v4
        with:
          name: rapport-securite-docker
          path: report-docker.txt

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: echo "Rien à faire ici. Votre application est prête à être déployée"
